body{
    margin: 1px;
    padding: 1px;
    border: 1px;
    background: url(assets/R.png) no-repeat;
    background-size: cover
}
body::-webkit-scrollbar{
  display: none;
}
.head{
  color: white;
  font-size: 30px;
}
.WUAIO{
  background: rgba(38, 92, 117, 0.583);
  width: 410px;
  height: fit-content;
  padding: 10px;
  margin-left: 1px;
  margin-top: 100px;
  border-radius: 20px;
  display: flex;
  border-style: groove;
}
.everythingisalot{
  background: rgba(119, 117, 117, 0.402);
  height: fit-content;
  margin-left: 8px;
  margin-top: 20%;
  float: right;
  width: 310px;
  padding: 10px;
  border-radius: 40px;
  border-style: inset;
  display: flex;
}

.pebblebrain{
  background: rgba(29, 165, 207, 0.283);
  height: fit-content;
  width: 410px;
  padding: 10px;
  border-radius: 40px;
  border-style: ridge;
  margin-top: 1%;
  float: right;
  display: flex;
}
.areyoualright{
  background: rgba(47, 7, 7, 0.454);
  width: 410px;
  border-style: ridge;
  padding: 12px;
  margin-top: 3%;
  margin-left: 1%;
  margin-right: 200px;
  justify-content: center;
  border-radius: 40px;
  border-color: white;
  float: right;
  display: flex;
}
.UNDERTALE{
  background: rgba(0, 0, 0, 0.652);
  height: fit-content;
  width: 420px;
  padding: 10px;
  border-radius: 40px;
  border-style: ridge;
  margin-top: 2%;
  margin-left: 2px;
  border-color: gold;
  float: left;
  display: flex;
}

.selfish{
  background: rgba(32, 56, 165, 0.34);
  height: fit-content;
  width: 400px;
  padding: 10px;
  border-radius: 40px;
  border-style: ridge;
  margin-top: 5%;
  margin-right: 30px;
  float: right;
}

    .tinkcontainer{
      display: flex;
    }
  .box{
    width: 450px;
    background: rgba(0, 0, 0, 0.676);
    padding: 40px;
    text-align: center;
    margin-left: 40px;
    margin-right: 60px;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    border-radius: 10px;
    margin-right: 1px;
  }
  .box-img{
    border-radius: 50%;
    width: 180px;
    height: 180px;
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .box p{
    text-align: justify;
  }

  ul{
    margin: 0;
    padding: 0;
  }
  
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }

  .box li a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
    color: #8a8a8a;
  }

  .box2{
    width: fit-content;
    background: rgba(0, 0, 0, 0.186);
    padding: 10px;
    text-align: center;
    margin-left: 50px;
    margin-top: 30px;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    border-radius: 30px;
    float: left;
    overflow-y: scroll;
    overflow-block: hidden;
    overflow: -moz-hidden-unscrollable;
    max-height: 600px;
  }

  .tinkgames{
    width: 300px;
    height: 400px;
    background: rgba(0, 0, 0, 0.383);
    padding: 20px;
    text-align: center;
    margin-top: 5%;
    margin-left: 90px;
    margin-right: 10px;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    border-radius: 40px;
    border-style: outset;
  }
  .tinkgames h1{
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 120;
  }
  .column{
    float: left;
    padding: 5px
  }

  .gd-img{
    border-radius: 50%;
    margin-top: 10px;
    width: 80px;
    height: 80px;
    margin: 10px;
  }

  .hollow-knight-img{
    border-radius: 50%;
    margin-top: 10px;
    width: 80px;
    height: 80px;
  }

  .minecraft-img{
    border-radius: 50%;
    margin-top: 10px;
    width: 80px;
    height: 80px;
    display: inline;
    margin-left: 5px;
    
  }

  .brawlhalla-img{
    border-radius: 50%;
    width: 80px;
    height: 60px;
  }

  .roblox-img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }

  .btd6-img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }

  .mania-img{
    border-radius: 75%;
    width: 80px;
    height: 80px;
  }

  .tinkgames a:hover{
    opacity: 50%;
  }

  .pinny{
    width: 300px;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    text-align: center;
    margin-top: 5%;
    margin-left: 1px;
    margin-right: 5px;
    padding: 5px;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    border-radius: 40px;

  }
  .pinny-img{
    border-radius: 75%;
    width: 120px;
    height: 120px;
  }

  .pinny h1{
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 75;
  }
  .pinny h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-top: 2px;
  }
  .pinny p{
    text-align: justify;
    padding-left: 20px;
  }
  .pinny ul{
    color: white;
      margin: 0;
      padding: 0;
  }
  .pinny li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .pinny li a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    transition: all ease-in-out 250ms;
  }
  .pinny li a:hover{
    color: #8a8a8a;
  }

  .pinnycontainer{
    display: flex;
    justify-content: center;
  }
  .timebombcontainer{
    display: flex;
    float: right;
  }

  .tseku{
    width: 200px;
    height: fit-content;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    text-align: center;
    margin-top: 5%;
    margin-left: 1px;
    margin-right: 5px;
    padding: 5px;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    border-radius: 40px;
  }

  .tseku-img{
    border-radius: 90%;
    width: 100px;
    height: 100px;
  }

  .tseku h1{
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 75;
  }
  .tseku h5{
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 100;
    margin-top: 1px;
  }
  .tseku p{
    text-align: justify;
    padding-left: 20px;
  }

  .tseku ul{
    color: white;
      margin: 0;
      padding: 0;
  }
  .tseku li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .tseku li a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    transition: all ease-in-out 250ms;
  }
  .tseku li a:hover{
    color: #8a8a8a;
  }

  .bitu{
    width: 200px;
    height: fit-content;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    text-align: center;
    margin-top: 5%;
    margin-left: 1px;
    padding: 5px;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    border-radius: 40px;

  }

  .bitu-img{
    border-radius: 90%;
    width: 100px;
    height: 100px;
  }

  .bitu h1{
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 75;
  }
  .bitu h5{
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 100;
    margin-top: 1px;
  }
  .bitu p{
    text-align: justify;
    padding-left: 20px;
  }


  .darklantern{
    width: 200px;
    height: fit-content;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    text-align: center;
    margin-top: 3px;
    margin-left: 1px;
    margin-right: 5px;
    padding: 5px;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    border-radius: 40px;
    float: left;
  }
  .darklantern-img{
    border-radius: 90%;
    width: 100px;
    height: 100px;
  }

  .darklantern h1{
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 75;
  }
  .darklantern h5{
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 100;
    margin-top: 1px;
  }
  .darklantern p{
    text-align: justify;
    padding-left: 20px;
  }

  .timebomb{
    width: 200px;
    height: fit-content;
    background: rgba(0, 0, 0, 0.912);
    padding: 10px;
    text-align: center;
    margin-top: 2px;
    margin-left: 1px;
    margin-right: 5px;
    padding: 5px;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    border-radius: 40px;
  }
  .timebomb-img{
    border-radius: 90%;
    width: 100px;
    height: 100px;
  }

  .timebomb h1{
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 75;
  }
  .timebomb h5{
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-top: 1px;
  }
  .timebomb p{
    text-align: justify;
    padding-left: 20px;
  }
  .timebomb ul{
    color: white;
      margin: 0;
      padding: 0;
  }
  .timebomb li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .timebomb li a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    transition: all ease-in-out 250ms;
  }
  .timebomb li a:hover{
    color: #8a8a8a;
  }
  .troycontainer{
    display: flex;
  }

  .troy{
    width: 200px;
    height: fit-content;
    background: rgba(0, 0, 0, 0.262);
    padding: 10px;
    text-align: center;
    margin-top: 1px;
    margin-right: 5px;
    margin-left: 1px;
    padding: 5px;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    border-radius: 40px;
    float: right;
  }
  .troy-img{
    border-radius: 90%;
    width: 100px;
    height: 100px;
  }

  .troy h1{
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 75;
  }
  .troy h5{
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 100;
    margin-top: 1px;
  }
  .troy ul{
    color: white;
      margin: 0;
      padding: 0;
  }
  .troy li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .troy li a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    transition: all ease-in-out 250ms;
  }
  .troy li a:hover{
    color: #8a8a8a;
  }

  .mimi{
    width: 200px;
    height: fit-content;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    text-align: center;
    margin-top: 3px;
    margin-left: 1px;
    margin-right: 5px;
    padding: 5px;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    border-radius: 40px;
  }
  .mimi-img{
    border-radius: 90%;
    width: 100px;
    height: 100px;
  }
  
  .mimi h1{
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 75;
  }
  .mimi h5{
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 100;
    margin-top: 1px;
  }
  .mimi p{
    text-align: justify;
    padding-left: 20px;
  }
  .mimi ul{
    color: white;
      margin: 0;
      padding: 0;
  }
  .mimi li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .mimi li a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    transition: all ease-in-out 250ms;
  }
  .mimi li a:hover{
    color: #8a8a8a;
  }